@font-face {
  font-family: 'TT Lakes';
  src: url('https://kukufc1.github.io/KaTaPrjct/fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
       url('https://kukufc1.github.io/KaTaPrjct/fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@mixin font_style(
  $font-face: 'TT Lakes',
  $letter-spacing: 0.20000000298023224px
)
{
  font-family: $font-face;
  letter-spacing: $letter-spacing;
}



$color_pgntn: #B5B6BC;
$color_bg: #F8F8F8;
$color_gradient_header: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
$color: #FF3E79;
$colorbg: #F8F8F8;





@mixin border_style(
  $border-width: 1px,
  $border-style: solid,
  $border-color: #EAEAEA,
  $border-radius: 6px
)
{
  border: $border-width $border-style $border-color;
  border-radius: $border-radius;
}

@mixin btn_style(
  $width: 40px,
  $height: 40px,
  $border-width: 2px,
  $border-style: solid,
  $border-color: #FF3E79,
  $border-radius: 50%,
  $background-image: url('https://kukufc1.github.io/KaTaPrjct//img/dropdown.png'),
  $background-repeat: no-repeat,
  $background-position: 50% 50%
)
{
  width: $width;
  height: $height;
  border: $border-width $border-style $border-color;
  border-radius: $border-radius;
  background-image: $background-image;
  background-repeat: $background-repeat;
  background-position: $background-position;
}



@mixin btnstyle(
  $width: 40px,
  $height: 40px,
  $background-color: #FF3E79,
  $border-radius: 50%
)
{
  width: $width;
  height: $height;
  background-color: $background-color;
  border-radius: $border-radius;
}